.searchContainer {
  border: var(--line-weight-m) solid rgb(var(--color-primary));
  border-radius: 30px;
  max-width: 400px;
  padding: 10px 30px;
  margin: 20px;

  input[type="text"] {
    background-color: rgb(var(--color-secondary));
    outline: none;
    padding: 10px;
    margin: 0 20px;
    border: none;
    border-bottom: 1px solid rgb(var(--color-primary));
    color: rgb(var(--color-primary));
    font-family: var(--font-family-main);
  }

  input[type="text"]::placeholder {
    font-style: italic;
    font-family: var(--font-family-main);
  }

  button {
    background-color: rgb(var(--color-secondary));
    outline: none;
    padding: 20px;
    margin: 10px;
    border: 1px solid rgb(var(--color-primary));
    border-radius: 10px;
    color: rgb(var(--color-primary));
    font-family: var(--font-family-main);
    cursor: var(--cursor-pointer);
    transition: color, background-color 0.2s;
  }

  button:hover {
    background-color: rgb(var(--color-primary));
    color: rgb(var(--color-secondary));
  }

}

.searchResultsContainer {

  text-align: center;

  p {
    font-size: var(--font-m);
  }

  ul {
    width: 100%;
    padding-inline-start: 0px;
  }

  ul > li {
    font-size: var(--font-l);
    width: 100%;
    list-style: none;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    font-weight: 700;
    margin: 10px;
    cursor: var(--cursor-pointer)
  }

  .tooltip .tooltipText {

    visibility: hidden;
    font-size: var(--font-s);
    font-weight: 400;
    width: 200px;
    padding: 10px;
    background-color: rgb(var(--color-primary));
    color: rgb(var(--color-secondary));
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.2s;

  }

  .tooltip .tooltipText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(var(--color-primary)) transparent transparent transparent;
  }

  .tooltip:hover .tooltipText {
    visibility: visible;
    opacity: 1;
  }

}

@media (max-width: 600px) {

  .searchContainer {

    button {
      padding: 10px;
    }

    input[type="text"] {
      width: 45%;
      margin: 0 10px;
    }

  }

}
