.searchContainer {
  border: var(--line-weight-m) solid rgb(var(--color-primary));
  border-radius: 30px;
  max-width: 400px;
  padding: 10px 30px;
  margin: 20px;
  // transition: opacity 0.2s;

  input[type="text"] {
    background-color: rgb(var(--color-secondary));
    outline: none;
    padding: 10px;
    margin: 0 20px;
    border: none;
    border-bottom: 1px solid rgb(var(--color-primary));
    color: rgb(var(--color-primary));
    font-family: var(--font-family-main);
  }

  input[type="text"]::placeholder {
    font-style: italic;
    font-family: var(--font-family-main);
  }

  button {
    background-color: rgb(var(--color-secondary));
    outline: none;
    padding: 20px;
    margin: 10px;
    border: 1px solid rgb(var(--color-primary));
    border-radius: 10px;
    color: rgb(var(--color-primary));
    font-family: var(--font-family-main);
    cursor: var(--cursor-pointer);
    transition: color, background-color 0.2s;
  }

  button:hover {
    background-color: rgb(var(--color-primary));
    color: rgb(var(--color-secondary));
  }

}

@media (max-width: 600px) {

  .searchContainer {

    button {
      padding: 10px;
    }

    input[type="text"] {
      width: 45%;
      margin: 0 10px;
    }

  }

}
